<div class="container">
    <app-sidebar></app-sidebar>
    <div class="drawing-container">
<<<<<<< HEAD
        // TEST_PL
=======
        <!-- ajout dun commentaire -->
>>>>>>> dev
        <app-drawing class="drawing" tabindex="0"></app-drawing>
    </div>
</div>
