.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: auto;
}

.button {
    margin-top: 101px;
    text-align: center;
}

.team-name {
    margin-top: 0.28em;
    margin-bottom: 0.21em;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}