<div class="container">
    <h1 class="header-item"> Bienvenue au projet 2 {{title}} </h1>

    <div id="server-message">
        <p>GROS MESSAGE DU SERVER: {{ message | async}} </p>
        <button class="button" (click)="getMessagesFromServer()">Récuper un message du serveur</button>
        <button class="button" (click)="sendTimeToServer()">Envoyer un message au serveur</button>
    </div>

    <button class="button" routerLink="/editor"> OUVRI EDITOR</button>

    <div class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>allo1</p>
    </div>

</div>

