.container {
    height: auto;
    min-height: 100vh;
    border: 1px solid black;
    padding: 0 5px 0 5px;
    margin-right: 10px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
}
